h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

html,
body,
p,
.MuiButtonBase-root,
.MuiSelect-select,
.MuiInputBase-input,
.MuiListItemText-root,
.MuiListItemText-primary,
.MuiChip-label {
  font-family: "Montserrat" !important;
}
.css-16d5wub-MuiFormHelperText-root {
  margin-left: 0px;
}

.css-19lqpda-MuiFormHelperText-root.Mui-error {
  margin-left: 0px;
}
.css-29fzhj-MuiFormControl-root-MuiTextField-root {
  align-items: flex-start;
}
.css-1wcuju8-MuiChip-root {
  height: auto;
}

#demo-simple-select-label {
  font-family: "Montserrat";
}
#demo-simple-select-label-fixed {
  font-family: "Montserrat";
  color: gray;
}
.demo-simple-select-label-fixed {
  font-family: "Montserrat";
  font-weight: 500;
  color: gray;
  width: 100%;
  padding: 10px;
  border: 1.5px solid #d5d7d9;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
}

#demo-simple-select {
  font-family: "Montserrat";
}
#demo-simple-select-fixed {
  font-family: "Montserrat";
  color: gray;
}
.light-grey {
  color: #929fb1;
}

.scheduleButton {
  background-color: #0054a6;
  color: white;
}

.flex-row-center {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}
#filled-required {
  font-family: "Montserrat";
  /* padding: 10.5px 14px; */
}
.txt-mont {
  font-family: "Montserrat";
}
.mbminus {
  margin-bottom: -15px;
}

.header {
  font-family: "Montserrat";
  font-weight: 500;
}

.text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
}
.txt-semi-bold {
  font-family: "Montserrat";
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs8 {
  font-size: 8px;
}
.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.mh1 {
  margin: 0 1px;
}
.mh15Per {
  margin: 0 15%;
}
.ml2 {
  margin-left: 2px;
}
.ml3 {
  margin-left: 3px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml70 {
  margin-left: 70px !important;
}
.mr2 {
  margin-right: 2px;
}
.mr3 {
  margin-right: 3px;
}
.mr5 {
  margin-left: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mt3 {
  margin-top: 3px;
}
.mt5 {
  margin-top: 5px;
}
.mb3 {
  margin-bottom: 3px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb65 {
  margin-bottom: 65px;
}
.mlr10mtb20 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mlr20mtb20 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mlr20mtb10 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pv2 {
  padding: 2px 0;
}
.pv20 {
  padding: 20px 0;
}
.ph2 {
  padding: 0 2px;
}
.p5 {
  padding: 5px;
}
.ph5 {
  padding: 0 5px;
}
.ph20 {
  padding: 0 20px;
}
.ph40 {
  padding: 0 40px;
}
.ph24 {
  padding: 0 20px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.pv5 {
  padding: 5px 0;
}
.pv10 {
  padding: 10px 0;
}
.cursor {
  cursor: pointer;
}
.no-cursor {
  pointer-events: none;
}

.p10MinWid99Per {
  padding: 0px 0px 10px 10px;
  min-width: 99%;
}

.blue-color {
  color: #0054a6;
}
.blue2 {
  color: #3693ff;
}
.selected {
  padding: 2px;
  border-radius: 10px;
  color: white;
  background-color: #0054a6;
}
.virtual-bg {
  background-color: #b18ec6;
}
.w9Per {
  width: 9%;
}
.gray-color {
  color: #a5b4cb;
}

.green-color {
  color: #03992d;
}
.card-rose-color {
  color: #ff71cf;
}
.card-blue-color {
  color: #6c84fb;
}
.card-blue2 {
  color: #3348ff;
}
.card-light-blue-back {
  background: #1663f829;
}
.card-bot-blue-back {
  background: #6194fa;
}
.card-back {
  background: #f5f6f7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pend {
  background: #fdc43229;
  color: #ff8a00;
  padding: 0 10px;
  border-radius: 5px;
}
.blue3 {
  color: #6194fa;
}
.br5 {
  border-radius: 5px;
}
.br5p5 {
  border-radius: 5px;
  padding: 5px;
}
.card-bot-green-back {
  background: #03a01cb2;
}
.card-bot-red-back {
  background: #ff1d1dcc;
}
.card-bot-rose-back {
  background: #7a4d8bab;
}
.card-green-color {
  color: #03a01cb2;
}
.card-black1 {
  color: #606e80;
}
.card-black2 {
  color: #606e80;
}
.black2 {
  color: #494949;
}
.black3 {
  color: #171725;
}
.black4 {
  color: #000000cc;
}
.black5 {
  color: #0000005e;
}
.card-time {
  padding: 5px 10px;
  border-radius: 5px;
}
.card-bottom-color {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -8px;
}
.card-top-color {
  height: 7px;
  margin-top: -18px;
}
.card-top-blue-color {
  background: #0054a680;
}
.card-top-rose-color {
  background: #d411a9;
}
.card-top-green-color {
  background: #076c8c;
}
.card-top-yellow-color {
  background: #fdb913;
}
.card-top-orange-color {
  background: #ff754a;
}
.card-top-paleGreen-color {
  background: #628d7f;
}
.card-3dot-color {
  color: #b5b5c3;
}
.card-head-blue-color {
  color: #0054a680;
}
.card-head-rose-color {
  color: #d411a9;
}
.card-head-green-color {
  color: #076c8c;
}
.card-head-yellow-color {
  color: #fdb913;
}
.card-head-orange-color {
  color: #ff754a;
}
.card-head-paleGreen-color {
  color: #628d7f;
}

.card-head-border-bottom-blue {
  border-bottom: 5px solid #0054a680;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 4px;
}
.card-head-border-bottom-rose {
  border-bottom: 5px solid #d411a9;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 4px;
}
.card-head-border-bottom-green {
  border-bottom: 5px solid #076c8c;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 4px;
}
.card-head-border-bottom-yellow {
  border-bottom: 5px solid #fdb913;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 4px;
}
.card-head-border-bottom-orange {
  border-bottom: 5px solid #ff754a;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 4px;
}
.card-head-border-bottom-paleGreen {
  border-bottom: 5px solid #628d7f;
  padding-bottom: 10px;
  margin-right: 15px;
  border-radius: 4px;
}

.virtual-bg-color {
  background: #7a4d8b80;
}

.card-split {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 80vh;
  width: 1px;
  background: #0000004d;
}
.card-gray-color {
  color: #626971;
}
.card-gray2 {
  color: #7d8da6;
}
.card-consultation {
  padding: 3px 6px;
  border-radius: 2px;
}
.card-con-blue-back {
  background: #1663f880;
}
.card-con-gray-back {
  background: #606e80b2;
}
.gray-back-con {
  background: #d9d9d94d;
  padding: 20px 10px;
  border-radius: 4px;
  margin: 4px 0;
}
.top-row-cen-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-black {
  color: #181d25;
}

.css-tkv86h-MuiButtonBase-root-MuiSwitch-switchBase.Mui-disabled
  + .MuiSwitch-track {
  opacity: 0.5;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px; /* Adjust the gap as needed */
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex1-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media (min-width: 600px) {
  .css-cfdxjt-MuiToolbar-root {
    min-height: 60px;
  }
}

.css-58nmbi-MuiButtonBase-root-MuiMenuItem-root {
  font-family: Montserrat;
}

.css-7krygb-MuiListItem-root {
  font-family: Montserrat;
}

.no-record {
  font-family: "Montserrat";
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.no-rec {
  font-family: "Montserrat";
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  height: 50px;
  color: #636363;
  flex: 1;
}

.css-ypiqx9-MuiDialogContent-root {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: calc(1%) calc(2%);
}

.css-1yrymlm-MuiTypography-root {
  font-family: "Montserrat";
}

.tab-sty {
  background: #0054a6;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 2px 5px;
  margin-left: -5px;
  margin-top: -5px;
  margin-right: -5px;
}

.tab-active-btn {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Montserrat;
  font-size: 14px;
  color: #0054a6;
  font-weight: 700;
  background: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
}

.tab-txt {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Montserrat;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.black {
  color: #000000;
}
.mt20mb2 {
  margin-top: 20px;
  margin-bottom: 2px;
}
.mv5 {
  margin: 5px 0;
}
.mv2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mv3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.mv10 {
  margin: 10px 0;
}
.mv15 {
  margin: 15px 0;
}
.mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mh5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mh10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mh20 {
  margin-left: 20px;
  margin-right: 20px;
}
.textSemiBold {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
}
.text800 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.text600 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.text400 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.text800-fs10 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 10px;
  color: #000000;
}
.text600-white {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}
.text800-white {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.left-con-white {
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  min-height: 80vh;
  /* height: 80vh; */
}
.left-con-white-wh {
  background: #fff;
  padding: 5px;
  border-radius: 2px;
  min-height: 80vh;
}
.left-con-box {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
}
.con-white-wmh {
  background: #fff;
  padding: 10px;
  border-radius: 2px;
}

.right-con-white {
  background: #fff;
  padding: 5px;
  min-height: 80vh;
  /* height: 80vh; */
}
.right-con-white-wh {
  background: #fff;
  padding: 5px;
  min-height: 80vh;
}

.con-p5-mh80vh {
  padding: 5px;
  min-height: 80vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex1-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.flex1-start-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
}
.flex1-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-start-50per {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}
.capitalize {
  text-transform: capitalize;
}
.text-align-right {
  text-align: right;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.mar-min7 {
  margin-left: -7px;
  margin-right: -7px;
}
.right-txt {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.com-mar2 {
  margin-left: 25px;
  margin-right: 25px;
}

.com-mar {
  margin-left: 20px;
  margin-right: 20px;
  height: 100vh;
}
@media only screen and (max-width: 600px) and (min-width: 401px) {
  .com-mar {
    margin-left: 15px;
    margin-right: 15px;
    height: 100vh;
  }
  .com-mar2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .top-row-cen-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .css-tlelie-MuiListItemText-root {
    display: flex;
  }
}

@media only screen and (max-width: 1199px) {
  .css-1q6wx8d-MuiPaper-root-MuiDrawer-paper {
    background: #0054a6 !important;
  }
  .css-1q6wx8d-MuiPaper-root-MuiDrawer-paper {
    background: #0054a6 !important;
  }
  .css-tlelie-MuiListItemText-root {
    display: none;
  }
  .css-s7sr1d-MuiButtonBase-root-MuiListItemButton-root.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .css-s7sr1d-MuiButtonBase-root-MuiListItemButton-root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .com-mar {
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
  }
  .com-mar2 {
    margin-left: 15px;
    margin-right: 15px;
  }
  .top-row-cen-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.detail-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid #f8f8ff;
}
.detail-empty-img {
  background: #add8e6;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}
.font-bold {
  font-family: "Montserrat";
  font-weight: 700;
}
.font-medium {
  font-family: "Montserrat";
  font-weight: 500;
}
.text-bold {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
}
.text-bold-12 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
}
.text-12 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
}
.w25Per {
  width: 25%;
}
.img-view {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5px;
  border-radius: 10px;
}
.img2 {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 100px;
  object-fit: contain;
}
.img3 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.img7 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 90px;
  width: 90px;
  object-fit: contain;
}
.img8 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  object-fit: contain;
}
.flex-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row-wrap1 {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
.blue-box-examD {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border: 2px solid #0054a6;
}
.yellow-bar {
  background: #fdb913;
  height: 2px;
}
.blue-tran-btn {
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.align-center {
  align-items: center;
  height: 30px;
  display: flex;
}
.align-center-h50 {
  align-items: center;
  height: 50px;
}
.ph15 {
  padding: 0 15px;
}
.gap5{
  gap:5px
}
.gap10 {
  gap: 10px;
}
.gap15 {
  gap: 15px;
}
.gap20 {
  gap: 20px;
}
.gap25 {
  gap: 25px;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row-between-align-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.w40Per {
  width: 40%;
}
.w50Per {
  width: 50%;
}
.w60Per {
  width: 60%;
}
.w65Per {
  width: 65%;
}
.w70Per {
  width: 70%;
}
.w30Per {
  width: 30%;
}
.w75Per {
  width: 75%;
}
.day-selected {
  border: 2px solid #0054a6;
  padding: 5px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #0054a6;
}
.day-unselected {
  padding: 5px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #0054a6;
}
.day-selected2 {
  background: #0054a6;
  padding: 5px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.days-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.jus-con-spa-even {
  justify-content: space-evenly;
}
.jus-con-spa-bet {
  justify-content: space-between;
}
.align-center-wh {
  align-items: center;
  display: flex;
}
.scroll-60vh {
  overflow: scroll;
  height: 60vh;
}
.scroll-70vh {
  overflow: scroll;
  height: 70vh;
}
.scroll-80vh {
  overflow: scroll;
  height: 80vh;
}
.scroll-90vh {
  overflow: scroll;
  min-height: 100px;
  max-height: 90vh;
}
.w100Per {
  width: 100%;
}
.w100Px {
  width: 100px;
}
.blue-bold-txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #0054a6;
}
.con-type-selected {
  background: #e1e5ea;
  padding: 10px 0px;
  border-radius: 2px;
  border: 2px solid #0054a6;
  color: "#000";
}
.con-type-un-selected {
  background: #e1e5ea;
  padding: 10px 0px;
  border-radius: 2px;
  color: #7e939a;
}
.w33Per {
  width: 33%;
}
.w1Per {
  width: 1%;
}
.w2Per {
  width: 2%;
}
.w10Per {
  width: 10%;
}
.w15Per {
  width: 15%;
}
.w32Per {
  width: 32%;
}
.w35Per {
  width: 35%;
}
.w20Per {
  width: 20%;
}
.w5Per {
  width: 5%;
}
.w85Per {
  width: 85%;
}
.w80Per {
  width: 80%;
}
.w90Per {
  width: 90%;
}
.w89Per {
  width: 89%;
}
.red-color {
  color: #e30000;
}
.red2 {
  color: #ff1d1dcc;
}
.red3 {
  color: #ff0000;
}
.red-color2 {
  color: #f74444;
}
.red-color3 {
  color: #ff5555;
}
.red4 {
  color: #d20101;
}
.orange-color {
  color: #f28c28;
}
.orange2 {
  color: #dc4415cc;
}
.orange3 {
  color: #ff8a00;
}
.orange4 {
  color: #e07c05;
}
.orange-back {
  background: #fdc43229;
}
.org-back2 {
  background: #f1c69229;
}
.jus-cen {
  justify-content: center;
  display: flex;
}
.capitalize {
  text-transform: capitalize;
}
.ph10 {
  padding-left: 10px;
  padding-right: 10px;
}
.w50PerP1Per {
  width: 50%;
  padding: 1%;
}
.w70per {
  width: 50%;
}
.just-cen {
  display: flex;
  justify-content: center;
}
.med-font16 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
}
.bold-font30 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
}
.top-emp-space {
  height: 10px;
  background: #ededed;
  margin-left: -5px;
  margin-right: -5px;
}
.img-wh20 {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.mtMin5 {
  margin-top: -5px;
}
.mlMin15 {
  margin-left: -15px;
}
.mtMin15 {
  margin-top: -15px;
}
.gray-color {
  color: #a1a0bd;
}
.gray2 {
  color: #bbbbbb;
}
.gray3 {
  color: #a29ebc;
}
.gray4 {
  color: #828282;
}
.gray5 {
  color: #f5f6f7;
}
.gray6 {
  color: #adb8cc;
}
.gray7 {
  color: #929fb1;
}
.gray8 {
  color: #b6b6b6cc;
}
.gray9 {
  color: #00000066;
}
.gray10 {
  color: #0000001a;
}
.flex1 {
  flex: 1;
}
.fs18 {
  font-size: 18px;
}
.fs30 {
  font-size: 30px;
}
.fs16 {
  font-size: 16px;
}
.txt-regular {
  font-family: "Montserrat";
  font-weight: 400;
}
.dailyEventWrapper {
  cursor: pointer;
}
.flex-cen-h30 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.blue-box {
  margin: 2px 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(0, 84, 166);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  min-height: 30px;
  max-height: 30px;
  padding: 0px 10px;
}
.white-color {
  color: #fff;
}
.mhMin20 {
  margin: 0px -20px;
}
.wAaCjCdF {
  width: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.wAfCdFml10 {
  width: auto;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
}
.flex-row-ali-cen {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.line-bar {
  width: 100%;
  height: 1px;
  background: #d3d3d3;
  margin-top: 5px;
  margin-bottom: 5px;
}
.opacity-point3 {
  opacity: 0.3;
}
.back-white {
  background: #fff;
}
.back-gray {
  background: #f6f6f6;
}
.h35 {
  height: 35px;
}

.css-pdk3o0 {
  padding-top: 0;
  padding-bottom: 0;
}

.css-1br18am-MuiPaper-root-MuiAppBar-root {
  background: #0054a6;
}

.tab-selected {
  background: #fff;
  padding: 6px 20px 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tab-selected:hover {
  background: #fff;
  padding: 6px 20px 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tab-un-selected {
  /* background: #0054a6; */
  padding: 6px 20px 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tab-un-selected:hover {
  background: #fff;
  padding: 6px 20px 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.top-row-right-con {
  position: absolute;
  right: 20px;
}
.gray-color2 {
  color: #e1e5ea;
}
.dashed-card {
  border: 2px solid #e1e5ea;
  border-radius: 4px;
  width: 100%;
  border-style: dashed;
}
.gray-box {
  background: #d9d9d92e;
  padding: 8px 10px;
  border-radius: 5px;
}
.gray-box2 {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 5px 8px;
}
.upcom-card {
  background: #a5b4cb33;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.upcom-card-wo-back {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.gray-dot {
  width: 5px;
  height: 5px;
  background: #7d8da6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gray-dot2 {
  background: #a5b4cb;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-card-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}
.pet-card-img2 {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 2px;
}
.table-gray {
  color: #96a5b8;
}
.table-gary-bar {
  background: #edf2f6;
  height: 2px;
}
.table-black {
  color: #444a6d;
}
.table-time-black {
  color: #0f0f0f;
}
.table-time-back {
  background: #e4eff4;
  padding: 7px 10px;
  border-radius: 5px;
}
.table-time-selected {
  background: #76ee59;
  padding: 7px 10px;
  border-radius: 5px;
}
.table-time-disabled {
  background: #96a5b8;
  padding: 7px 10px;
  border-radius: 5px;
}
.mark-balck {
  color: #19191b;
}
.scrollx {
  overflow-x: scroll;
}
.day-type-box {
  padding: 5px 10px;
  border: 2px solid #26334d08;
  border-radius: 2px;
}
.calendar-arrow {
  color: #c3cad9;
  border: 2px solid #f5f6f7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-arrow:hover {
  color: #000;
  border: 2px solid #f5f6f7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h70AliCen {
  height: 70px;
  align-items: center;
}
.box-ver-split {
  background: #e9e9e9;
  width: 2px;
  height: 70px;
}
.box-hor-split {
  background: #e9e9e9;
  height: 2px;
  width: 100%;
}
.cal-green-box {
  border: 2px solid #03a01c80;
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  background: #29cc390d;
}
.cal-rose-box {
  border: 2px solid #7a4d8bab;
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  background: #7a4d8b14;
}
.cal-blue-box {
  border: 2px solid #6194fa;
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  background: #33bfff0d;
}
.cal-red-box {
  border: 2px solid #ff1d1dcc;
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  background: #ffcb3314;
}
.cal-card-disable {
  background: #d9d9d94d;
  width: calc(100%+10);
  height: 70px;
  margin-left: -5px;
}
.h50 {
  height: 50px;
}
.cal-time {
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-back {
  background: #03a01c80;
}
.green-back2 {
  background: #28f81629;
}
.green2 {
  color: #339903;
}
.w30h30 {
  width: 30px;
  height: 30px;
}

.left-container {
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.left-container::-webkit-scrollbar {
  width: 0;
}

.left-container:hover::-webkit-scrollbar {
  width: 8px;
}

.left-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.left-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.right-container {
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.right-container::-webkit-scrollbar {
  width: 0;
}

.right-container:hover::-webkit-scrollbar {
  width: 8px;
}

.right-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.right-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.emergency-container {
  width: 18vw;
  margin-left: -5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.yellow-btn {
  background: #e9d156;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
.blu-back {
  background: #0054a6;
}
.ver-bar {
  background: #d9d9d980;
  width: 2px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ver-bar-h30 {
  background: #d9d9d980;
  width: 2px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.green-pen {
  width: 20px;
  height: 20px;
  align-items: center;
  display: flex;
  background: #00ff0a33;
  padding: 2px;
  border-radius: 5px;
  color: #4caf50;
}
.flexPoint7 {
  flex: 0.7;
}
.upload-img {
  width: 135px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.upload-pdf {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}
.img-close {
  position: absolute;
  top: 2px;
  right: 10px;
}
.img4 {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.h125img {
  height: 125px;
  background: #dfdede;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.imghw30 {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.vid-cal-con {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.borderRight {
  border-right: 1px solid #0000004d;
}

/* Remove border-right for the last child */
.borderRight:last-child {
  border-right: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* background: #f1f1f1; */
}

::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  border-radius: 50px;
}

.card-columns {
  height: 80vh;
  overflow-y: auto;
  padding-bottom: 60px;
}

.inner-cards {
  margin-right: 10px;
}

.nav-flex-end {
  display: flex;
  justify-content: center;
  align-items: end;
}

.bg-body {
  background-color: #fafafa;
}

.heading-fw600 {
  font-weight: 600;
}

.common-box-container {
  padding: 20px 30px;
}

.common-box-container .flex-row {
  justify-content: space-around;
}
/* 
.common-box-container .w15Per:not(:last-child) {
  border-right: 1px solid #e0e0e0;
  padding-right: 20px;
} */

.common-pb-50 {
  padding-bottom: 50px;
}

.pb100 {
  padding-bottom: 100px;
}

.custom-select .MuiSelect-select {
  padding: 10.5px 14px;
}

.custom-menu-item {
  padding-top: 4px;
  padding-bottom: 4px;
}
.ph10pv25 {
  padding: 25px 10px !important;
}
.topBar-minh {
  min-height: 46px;
}

/* .topBar-main .css-196s6np-MuiButtonBase-root-MuiIconButton-root {
  margin: 0 5px;
} */

.scroll-container-tbl {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-content-tbl {
  display: inline-flex;
}
.w160Per {
  width: 160%;
}

.clinic-custom-tab-buttons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.clinic-custom-tab-buttons button {
  max-width: 158px;
}

.brd-r20 {
  border-radius: 20px;
}

.h20 {
  height: 20px;
}

.h30 {
  height: 30px;
}

.grid-container-mslot {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 1920px) {
  .grid-container-mslot {
    max-width: 1470px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .grid-container-mslot {
    max-width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .grid-container-mslot {
    max-width: 1200px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .grid-container-mslot {
    max-width: 1000px;
  }
}

@media (max-width: 599px) {
  .grid-container-mslot {
    max-width: 800px;
    padding: 0 10px;
  }
}

.vet-card-bg {
  background-color: #f5f1f180;
  margin-left: 5px;
}

.brd-r6 {
  border-radius: 6px;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 110px;
}

/* .modal-right-form .MuiGrid-item {
  padding-top: 10px;
} */

.MuiInputBase-root,
.MuiFormControlLabel-label {
  font-size: 14px;
}

.br8brblack {
  border-radius: 8px;
  border: 1px solid #00000040;
}

.br4brblue {
  border: 1px solid #0054a6;
  border-radius: 4px;
}

.blue-back-con {
  padding: 2px 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #0054a6;
}
.img-h50 {
  height: 50px;
  border-radius: 2px;
  object-fit: contain;
}
.img-h40 {
  height: 40px;
  border-radius: 2px;
  object-fit: contain;
}
.img-hw40 {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.wh50 {
  width: 50px;
  height: 50px;
}
.h110 {
  height: 110px;
}
.h90 {
  height: 90px;
}

.grid-box {
  flex: 1 1 0;
  padding: 10px 20px;
  /* background-color: #f0f0f0; */
  text-align: center;
  box-sizing: border-box;
}

.brd-top {
  border-top: 2px solid #e9e9e9;
}
.pending {
  width: 80px;
  color: #ff8a00;
  background-color: #fff3d6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
}
.completed {
  width: 80px;
  color: #339903;
  background-color: #28f81629;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
}
.overdue {
  width: 80px;
  color: #ff0000;
  background-color: #28f81629;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
}

.mw-100 {
  max-width: 100px !important;
}

.bill-itm {
  display: flex;
  flex-direction: row;
  padding: 5;
  margin-top: 2px;
  margin-bottom: 2px;
}

.bill-itm:hover {
  border: 1px solid #0054a6;
  border-radius: 4px;
  padding: 3px 5px;
}

.ph10pv3 {
  padding: 3px 10px;
}

.flex-space-btwn {
  justify-content: space-between;
}

.cur-img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  height: 70vh;
}

.pb-40 {
  padding-bottom: 40px;
  padding-top: 20px;
}

.border-rt {
  border-right: 2px solid #dfe5f1;
}

.bs-margin {
  margin-bottom: 20px;
  box-shadow: 0px 5px 8px 0px #464e5f14;
}

.normal-height button {
  height: unset !important;
}

.css-1tlhj1n {
  flex-wrap: nowrap;
}
.css-1tlhj1n .css-1tlhj1n.css-1wcuju8-MuiChip-root span {
  font-size: 8px !important;
}

.no-bg-btn {
  background-color: unset !important;
}
.h75ml30img {
  height: 75px;
  margin-left: 30px;
  object-fit: contain;
}
